/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #ffffff;
}

header {
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

header p {
  font-size: 1rem;
  color: #777;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

footer {
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

html{
  scroll-behavior: smooth;
}

.scrolltotop{
  animation-name: appear;
  animation-timeline: scroll(y);
}

@keyframes appear {
  0%{
    opacity: 0;
    display: 0;
  }
  100%{
    opacity: 1;
    display: block;
  }
  
}